@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    background: url("./assets/backgrounds/clear-sky-1.png");
    width: 100%;
    height: 100dvh;
    background-size: cover;
    backdrop-filter: blur(15px);
    background-position: center;
    color: white;
}

.asideMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.18);
    padding: 30px 0px;
}

.mainIcon {
    -webkit-user-drag: none;
    width: 55px;
    height: 55px;
}

.aside__boxes-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.aside__top-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 27px;
    margin-top: 54px;
}

.widget-box {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.widget-box:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.nav__widget {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icon {
    -webkit-user-drag: none;
    height: 35px;
    opacity: 0.85;
}

.content{
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0px 43px;
}

.searchContainer {
    display: flex;
    width: 24.6%;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.15);
    border-radius: 15px;
    gap: 5px;
    padding: 3px 15px 3px 7px;
}

.searchInp {
    outline: none;
    height: 37px;
    width: 300px;
    color: white;
    background: none;
    border: none;
}

.searchInp::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.searchBtn {
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
}

.searchIcon {
    /* position: static;
    bottom: 3; */
    -webkit-user-drag: none;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    transition: 0.2s;
}

.searchIcon:hover {
    opacity: 0.8;
}



.main {
    width: 100%;
    height: 85%;
    padding: 0px 43px;
}

.main__boxes-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 22px;
    padding-bottom: 30px;
}

.main__box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    gap: 22px;
}

.widget__weatherNow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: rgb(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 23px;
}

.widget__box-title {
    display: flex;
    width: 100%;
    align-items: center;
}

.now__weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10%;
}

.now__weather__condition {
    width: 40%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
}

.now__weather__text {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.now__weather__text-temp {
    font-size: 50px;
    font-weight: 700;
}

.now__weather__text-condition{
    font-size: 18px;
    font-weight: 300;
}

.now__box-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 30px 0px;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
}

.box-bottom-text__img {
    width: 30px;
    height: 30px;
    -webkit-user-drag: none;
    user-select: none;
}

.box-bottom__text {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
}

.widget__title {
    user-select: none;
    font-size: 18px;
    font-weight: 400;
}

.widget__forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 55%;
    border-radius: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.15);
    padding: 22px;
    gap: 10%;
}

.forecast__boxes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 7%;
}

.forecast__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
    -webkit-user-drag: none;
    user-select: none;
}

.forecast__box__weather {
    display: flex;
}

.forecast__box__weather-condition {
    width: 30px;
    height: 30px;
    -webkit-user-drag: none;
    user-select: none;
}

.forecast__box__text {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-drag: none;
    user-select: none;
}

.main__box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    gap: 22px;
}

.widget__highlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 56%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.15);
    padding: 23px;
    gap: 10%;
}

.highlights__boxes-double {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
}

.highlights__box__title-text {
    user-select: none;
    -webkit-user-drag: none;
    font-size: 14px;
    font-weight: 300;
}

.highlights__boxes-double__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.12);
    gap: 15%;
}

.aq-boxes__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.highlights__boxes-double__box__aq-boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 5px;
    /* padding: 0px 3px; */
}

.aq-boxes__card {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aq-boxes__card__icon {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ss-boxes__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.highlights__boxes-double__box__ss-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 0px 30px;
}

.ss-boxes__card {
    display: flex;
    /* justify-content: space-between; */
    gap: 15%;
    width: 40%;
}

.highlights__icon {
    user-select: none;
    -webkit-user-drag: none;
    width: 40px;
    height: 40px;
}

.highlights__text-small {
    user-select: none;
    -webkit-user-drag: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 11px;
    font-weight: 300;
}

.highlights__text-main {
    font-size: 25px;
    font-weight: 400;
}

.highlights__boxes-quadruple {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-between;
}

.highlights__boxes-quadruple__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23.5%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.12);
    gap: 10%;
}

.boxes-quadruple__card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.boxes-quadruple__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.widget__todayAt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 44%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.15);
}